*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Rubik",sans-serif;
    font-size: 16px;
}
body{
    background-color: #5150fd;
}
form{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    padding: 50px 30px;
    border-radius: 10px;
}
label{
    font-weight: 600;
}
.input-wrapper{
    display: flex;
    background-color: #ffffff;
    border: 1px solid #7b7b93;
    margin: 10px 0;
    border-radius: 5px;
}
.prefix,
.suffix{
    position: relative;
    color: #7b7b93;
}
.prefix{
    padding: 15px 0 15px 15px;
}
.suffix{
    padding: 15px 15px 15px 0;
}
input{
    background-color: transparent;
    position: relative;
    width: 200px;
    padding: 15px;
    color: #2c2c51;
}