p{
	color: #262626;
	font-family: 'Work sans',sans-serif;
}
.copyButton{
	background-color: #48B0ED;
	padding: 5px 15px;
	border: none;
	color: white;
	font-size: 18px;
	border-radius: 2px;
	cursor: pointer;
}
.alert{
	position: absolute;
	margin: auto;
	background-color: #101a2d;
	color: white;
	padding: 10px 0;
	font-size: 16px;
	font-family: 'Poppins',sans-serif;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}